.start-monitor {
  margin: auto;
  width: 70%;
  font-size: 18px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  margin-top: 30px;
  display: flex;
  flex: 1;
}

.start-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
